@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #4F4557; /* Use the primary background color */
    }

    h2 {
        color: #F4EEE0; /* Use the primary text color */
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        background-color: #393646; /* Use the secondary background color */
        color: #F4EEE0;
        border: none;
    }

    .form-control:focus {
        background-color: #6D5D6E;
    }

    .btn-primary {
        background-color: #6D5D6E;
        border: none;
        color: #F4EEE0;
        padding: 10px 20px;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .btn-primary:hover {
        background-color: #4F4557;
    }

    .text-danger {
        color: #FF6347; /* Use a suitable error text color */
    }
</style>



<h2>Login</h2>

@using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label("UserName", "Username")
        @Html.TextBox("UserName", null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Password", "Password")
        @Html.Password("Password", null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary btn-block" />
    </div>
}
