<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-nav {
            margin-left: auto;
            display: flex;
            align-items: center; /* Vertical center alignment */
        }

        .nav-link {
            color: #F4EEE0;
        }

            .nav-link:hover {
                color: #6D5D6E;
            }

        .nav-button {
            background-color: #6D5D6E;
            border: none;
            color: #F4EEE0;
            padding: 8px 20px;
            border-radius: 4px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .user-info {
            color: white;
            margin-right: 10px;
        }

        .user-badge {
            display: inline-block;
            margin-right: 10px;
            color: #F4EEE0; /* Use the user info text color */
            padding: 8px 12px;
            border-radius: 50%; /* Make it round */
            font-weight: bold;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .container.body-content {
            padding-top: 20px;
            flex: 1;
        }

        #sticky-footer {
            flex-shrink: 0;
        }

        .nav-button {
            background-color: #4E4FEB;
            text-decoration: none;
            color: #EEEEEE;
        }

            .nav-button:hover {
                color: #EEEEEE;
            }

        .logged-in {
            color: green;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Seller", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Products", "Products", "seller", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <span class="logged-in">●</span>
                            <span class="user-badge">@User.Identity.Name</span>

                        </li>
                        <li class="nav-item">
                            <span class="user-badge"><img src="~/Images/user1.png" height="30px" width="30px"></span>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Accounts", new { area = "" }, new { @class = "nav-button" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Your Website</small>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
