@model IEnumerable<Ecommerce.Models.Cart.Cart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>

<table class="table table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Images
        </th>
        <th>
        </th>
    </tr>
    @{
        int Total = 0;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
                @{
                    Total = Total + item.Price;
                }
            </td>
            <td>
                @if (item.ImageDataBytes != null && item.ImageDataBytes.Length > 0)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ImageDataBytes)" alt="Image" style="height:100PX;width:100PX" />
                }
                else
                {
                    <p>No image available</p>
                }
            </td>
            <td>
                @Html.ActionLink("Remove", "DeleteCartData", new { id = item.Id }, new { @class = "nav-button" })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Products", "Products", "Home", new { @class = "nav-button" })
<br />
<br />

<h2>Total Price is @Total Rs.</h2>
<br />
@Html.ActionLink("Buy", "Buy", "Home", new { @class = "nav-button" })