@model IEnumerable<Ecommerce.Models.Product.Product>


@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

</head>
<h2>Products</h2>
<br />
<div class="form-group">
    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
        <div class="col-md-2 search-div" style="display: inline-block;">
            @Html.DropDownList("Category", ViewBag.Categories as SelectList, "Select a category", new { @class = "form-control" })
        </div>
        <div class="col-md-2" style="display: inline-block;">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    }

    <br />
</div>

@Html.ActionLink("Sort By Popularity", "Products", "Home", new { @class = "nav-button" })
<br />
<br />
@Html.ActionLink("Go to Cart", "Cart", "Home", new { @class = "nav-button" })

<br />
<br />
<table class="table table-hover table-bordered">
    <tr>
        <th>
            Images
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
        </th>

    </tr>

    @foreach (var item in Model.OrderBy(model => model.Price))
    {
        <tr>
            <td>
                @if (item.ImageDataBytes != null && item.ImageDataBytes.Length > 0)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ImageDataBytes)" alt="Image" style="height:100PX;width:100PX" />
                }
                else
                {
                    <p>No image available</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) Rs.
            </td>
            <td>
                @Html.ActionLink("Add TO Cart", "AddtoCart", new { id = item.Id }, new { @class = "nav-button" })
            </td>

        </tr>
    }

</table>
